html,body{
            height:100%;
        }
        html{
            display: table;
            margin:auto;
            padding-top: 20px;
        }
        body{
            display:table-cell;
            vertical-align: center;
            background: rgb(97, 204, 239)
        }
        h1{
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: rgb(252, 251, 251);
            text-shadow: 0 0 5px red, 0 0 10px red,0 0 20px red;
            text-decoration: underline;
        }
        .hint{
            font-weight: bold;
            font-size: 20px;
            text-shadow: 0 0 5px rgb(255, 254, 254), 0 0 10px rgb(253, 252, 252),0 0 20px red;
            
        }
        .placeinput{
            width: 100%;
        }
        .passin{
            width: 8%;
            height: 30px;
            margin: 0.7%;
            float: left;
            border: 1px solid black;
            box-shadow: 2px 2px 2px blue;
            text-align: center;
            font-weight: bold;
            font-size: 18px;
        }
        .guess{
            display: flex;
            justify-content: center;
            align-items: center;
            background: #000;
            color: white;
            text-shadow: 0 0 2px rgb(255, 254, 254), 0 0 55px rgb(253, 252, 252),0 0 8px red;
            height: 33px;
            width: 20%;
            float: left;
            box-shadow: 4px 4px 4px blue;
            border: 2px solid black;
            font-size: 17px;
        }
        .check{
            margin:0.5%;
            font-weight: bold;
            width: 12%;
            height: 35px;
            border-radius: 4px;
            background: rgb(3, 3, 142);
            text-shadow: 0 0 2px rgb(158, 6, 239);
            color: white;
            box-shadow: 4px 4px 2px blue;
        }
        .mainbody{
            width: 350px;
        }
        .result{
            background: wheat;
            width: 100%;
            height:56px;
        }
        .head{
            text-shadow: 0 0 2px rgb(255, 254, 254), 0 0 55px rgb(253, 252, 252),0 0 8px red;
            width: 20%;
            box-shadow: 2px 2px 2px blue;
            height: 56px;
            background: #000;
            color: white;
            margin-right: 2%;
            display: flex;
            float: left;
            justify-content: center;
            align-items: center;
        }
        .output{
            height: 56px;
        }
        .storeval{
            justify-content: center;
            background: white;
            width: 9%;
            height: 30px;
            margin: 0.7%;
            float: left;
            border: 1px solid black;
            box-shadow: 2px 2px 2px blue;
            font-weight: bold;
            font-size: 18px;
            align-items: center;
            border-bottom: 5px solid black;
            display: none;
        }
        .continue{
            width: 90px;
            height: 30px;
            background: rgb(8, 223, 8);
            color: white;
            font-weight: bold;
            display: none;
        }
        .games{
            position: absolute;
            width: 80px;
            height: 30px;
            top: 5px;
            left: 5px;
            background: rgb(100, 233, 86);
        }